.umbrellaImage {
    width: 55%;
    min-width: 200px;
    position: relative;
    top: 0;
    left: 0;
}

.uploadedImage {
    width: 50px;
    max-height: 40px;
    position: absolute;
    top: 67%;
    left: 25%;
}