.colorButton {
    width: 27px;
    height: 27px;
    border: 0 black solid;
    border-radius: 50%;
    margin-right:15px;
}

.skyBlueDarkBackground {
    background-color: #0098da;
}

.lightYellowDarkBackGround {
    background-color: #ffcd3c;
}

.plumPinkDarkBackground {
    background-color: #df1b6c;
}

.selected {
    border: 4px solid rgba(0, 0, 0, 0.304)
}