* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skyBlue {
  background-color: #e4f5fd;
}

.lightYellow {
  background-color: #fffaeb;
}

.plumPink {
  background-color: #dfbdcb;
}

.skyBlueDarkBackground {
  background-color: #0098da;
}

.lightYellowDarkBackground {
  background-color: #ffcd3c;
}

.plumPinkDarkBackground {
  background-color: #df1b6c;
}

.subContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}